

body {
  
    background-color:rgb(218, 230, 176);
    background-size: auto;
    
   }
   
   ul {
    list-style: none;
   }

   nav ul {
    display: flex;
    flex-direction: row;
   }

   nav ul a {
    text-decoration: none;
    margin-top: 60px;
    color: blue;
    font-weight: bolder;
    font-size: 20px;
    text-align: end;
    }


   nav ul img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
   }

   main ul a {
    text-decoration: none;
    margin-top: 60px;
    color: blue;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    }


   ul img {
    width: 200px;
    height: 200px;
    margin: auto;


   }

   main h1, h2, p {
    text-align: center;
   }

   footer ul img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
   }

   #contactus, .form  {
    margin-top: 50px;
    color: blue;
    text-align: center;
    font-weight: bold;

   }
